.fa{
    padding:20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    margin: 5px 2px;
    border-radius: 50%;
    text-decoration: none;
}
.fa:hover{
    opacity: 0.8;
}
.fa-facebook{
    background-color:#033dfc;
    color: white;
}
.fa-twitter{
    background-color: #34ebe5;
    color: white;
}
.fa-google{
    background-color:#34a1eb ;
    color: white;
}
.fa-linkedin{
    background-color: #8f34eb;
    color: white;
}
.fa-youtube{
    background-color:#eb3434;
    color: white;
}
.fa-instagram{
    background-color:#fc2003 ;
    color: white;
}
.fa-whatsapp{
    background-color:#86eb34;
    color: white;
}
.animate-character
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 50px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
